
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Monospace',	'Courier New';
}
body{
  padding:  20px;
  background: #0b0b19;
}
a:link {
  color: #504596;
  background-color: transparent;
  text-decoration: none;
  transition: color 2s;
}
a:visited {
  color: #504596;
  
}

a:hover {
  color: #281b7d;
}

a:active {
  color: #504596;
}
::selection{
  color: #fff;
  background: #17A2B8;
}
.wrapper{
  margin: auto;
  width: 770px;
  padding: 35px;
  background:#101023;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(253, 219, 219, 0.05);
}
.lister{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

.list{
  float: left;
 color:white;
}

.list li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

.wrapper .input-field{
  opacity: 0;
  z-index: -999;
  position: absolute;
}
.wrapper .content-box{
  padding: 13px 20px 0;
  border-radius: 10px;
  border: 1px solid #bfbfbf;
}
.content-box .typing-text{
  overflow: hidden;
  max-height: 256px;
 
}
.typing-text::-webkit-scrollbar{
  width: 0;
}
.typing-text p{
  font-size: 21px;
  text-align: justify;
  letter-spacing: 1px;
  word-break: break-all;
}
.typing-text p span{
  position: relative;
  opacity: 0.5;
  color: #fff;
}
.typing-text p span.correct{
opacity: 1;
}
.typing-text p span.incorrect{
  color: #cb3439;
  outline: 1px solid #fff;
  background: #ffc0cb;
  border-radius: 4px;
}
.typing-text p span.active{
  /*color: #ddec06;*/
}
.typing-text p span.active::before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  border-radius: 5px;
  background: #fff;
  animation: blink 1s ease-in-out infinite;
}
@keyframes blink{
  50%{ 
    opacity: 1; 
  }
}
.content-box .content{
  margin-top: 17px;
  display: flex;
  padding: 12px 0;
  flex-wrap: wrap;
  
  justify-content: space-around;
  border-top: 1px solid #bfbfbf;
}
.content-box button{
  position:sticky;
  outline: none;
  border: none;
  width: 205px;
  color: #fff;
  padding: 8px 0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background: #17A2B8;
  transition: transform 0.3s ease;
  margin-left: 470px;
  margin-bottom: 3px;
  transition: all .5s ease;
}
.content-box button:hover{
  background: #074c57;
}
.content-box button:active{
  transform: scale(0.97);
}
.content .result-details{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100% - 140px);
  justify-content: space-between;
  color:#fff;
}
.result-details li{
  display: flex;
  height: 20px;
  list-style: none;
  position: relative;
  align-items: center;
}
.result-details li:not(:first-child){
  padding-left: 22px;
  border-left: 1px solid #bfbfbf;
}
.result-details li p{
  font-size: 19px;
}
.result-details li span{
  display: block;
  font-size: 20px;
  margin-left: 10px;
}
li span b{
  font-weight: 500;
}
li:not(:first-child) span{
  font-weight: 500;
}
@media (max-width: 745px) {
  .wrapper{
    padding: 20px;
  }
  .content-box .content{
    padding: 20px 0;
  }
  .content-box .typing-text{
    max-height: 100%;
  }
  .typing-text p{
    font-size: 19px;
    text-align: left;
  }
  .content button{
    width: 100%;
    font-size: 15px;
    padding: 10px 0;
    margin-top: 20px;
  }
  .content .result-details{
    width: 100%;
  }
  .result-details li:not(:first-child){
    border-left: 0;
    padding: 0;
  }
  .result-details li p, 
  .result-details li span{
    font-size: 17px;
  }
}
@media (max-width: 518px) {
  .wrapper .content-box{
    padding: 10px 15px 0;
  }
  .typing-text p{
    font-size: 18px;
  }
  .result-details li{
    margin-bottom: 10px;
  }

  .wrapper{
	  width: 75%;
  }
  .content-box button{
    margin-left: 9px;
  }
  
}
@media (max-width: 700px) {
.wrapper{
	  width: 75%;
  }
   .content-box button{
    margin-left: 9px;
  }
}
@media (max-width: 900px) {
.wrapper{
	  width: 75%;
  }
   .content-box button{
    margin-left: 5px;
  }
}